@model ProjetoCEEM.Models.PontoMedida

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PontoMedida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipamento.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipamento.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidaCorrente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidaCorrente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidaTensao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidaTensao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
